FORMAT: 1A
HOST: https://v1-inventory.api.dudesolutions.io

USECOMMONSDKLIBRARY: TRUE
GENERATEASYNCCODE: TRUE
GENERATEINTERFACES: TRUE
USEMETHODPREFIX: TRUE
USEMODELPOSTFIX: FALSE
USECONTROLLERPOSTFIX: FALSE
USEENUMPOSTFIX: FALSE
USECONSTRUCTORSFORCONFIG: TRUE
CSHARPDEFAULTNAMESPACE: DSI.SDK.Inventory
JAVADEFAULTNAMESPACE: io.dudesolutions.inventory
BRANDLABEL: Dude Solutions, Inc.
USERAGENT: Dude SDK
NULLIFY404: TRUE
VALIDATEREQUIREDPARAMETERS: FALSE
COLLECTPARAMETERS: TRUE

# Dude Inventory Api

## Reference
Good reference document: https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/Polls%20API.md

## Authentication
Inventory Api uses OAuth v2 Authorization. First you create a new (or acquire existing) OAuth v2 token using [DudeAuth](https://www.dudeauth.com/).

## Media Types
Where applicable this API uses the *JSON* media-type to represent resources.

Requests and responses with a message-body use plain JSON to set or update resources.

## Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used throughout this API.

In addition to standard response codes the response object returned from the server during an exception event may contain additional information in the following JSON format:

        {
            "message": "SOME MESSAGE",
            "dudeReferenceId": "3523845A-4729-4CCB-9E16-01DEADF6C2DF",
            "stackTrace": "Null, Typically"
        }

# Group System Information

## System Information [/]

### GET

+ Response 200 (application/json; charset=utf-8)
    + Attributes (System Information)

# Group Heartbeat

## Heartbeat [/heartbeat]
The heartbeat is exposed and provided to check for availability of the service.
Any response that does not provide a ```200 OK``` response code should be treated as an error.

### GET

+ Response 200 (application/json; charset=utf-8)
    + Headers

            X-Dude-Api-Limit: Unlimited or Number
            X-Dude-Api-Remaining: Unlimited or Number
            X-Dude-Api-Server: Api Server ID

    + Attributes (Heartbeat)


# Group Inventory Item

## Inventory Item Collection [/accounts/{accountId}/inventoryitems{?page,pagesize,orderby}]
This endpoint allows for the retrieval of a list of inventory items as well as the creation of new ones

+ Parameters
    + accountId: 2 (required, number) - {INT} ID of the account in the form of an integer
    + page: 1 (number, optional) - {INT} The page to request from the collection.
    + pagesize: 1000 (number, optional) - {INT} The number of records to load in a page from the collection.
    + orderby: Id desc (string, optional) - A string describing the ordering to perform on the collection.

### GET

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Base Collection Response)
        + `data` (array[Inventory Item Manufacturer], required)


## Request Create Inventory Item Detail [/accounts/{accountId}/inventoryitems]
This endpoint allows for the new inventory items to be created

### POST

+ Request
    + Attributes (Inventory Item Data)

+ Response 201 (application/json; charset=utf-8)
    + Attributes (Inventory Item Update)

## Inventory Item Detail [/accounts/{accountId}/inventoryitems/{id}]
This endpoint allows for the select, update, and delete of specific inventory items

+ Parameters
    + accountId: 2 (number, required) - {INT} ID of the account in the form of an integer
    + id: 1 (number, required) - {INT} The ID of the Inventory Item

### GET

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Inventory Item Manufacturer)


### PUT

+ Request
    + Attributes (Inventory Item Update)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Inventory Item Update)

### DELETE

+ Response 204

# Group Manufacturer

## Manufacturer Collection [/accounts/{accountId}/inventoryitems/{inventoryItemId}/manufacturers]
This endpoint allows for the retrieval of a list of manufacturers associated with a specific inventory item

+ Parameters
    + accountId: 2 (required, number) - {INT} ID of the account in the form of an integer
    + inventoryItemId: 1 (number, required) - {INT} The ID of the Inventory Item

### GET

+ Response 200 (application/json; charset=utf-8)
    + Attributes ()
        + `data` (array[Manufacturer Update], required)

### POST

+ Request
    + Attributes (Manufacturer Data)

+ Response 201 (application/json; charset=utf-8)
    + Attributes (Manufacturer Update)

## Manufacturer Detail [/accounts/{accountId}/inventoryitems/{inventoryItemId}/manufacturers/{coreId}]
This endpoint allows for the select, update, and delete of the association of a manufacturer to an inventory item.

+ Parameters
    + accountId: 2 (number, required) - {INT} ID of the account in the form of an integer
    + inventoryItemId: 1 (number, required) - {INT} The ID of the Inventory Item
    + coreId: 1234 (number, required) - {INT} The ID of the manufacturer in the Dude Unified database

### GET

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Manufacturer Update)

### PUT

+ Request
    + Attributes (Manufacturer Update)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Manufacturer Update)

### DELETE
Delete only removes the association between the inventory item and the manufacturer. It does not delete the manufacturer.

+ Response 204

# Data Structures

## System Information (object)
Represents the Inventory Api application name, version, etc. Returned in the heartbeat

###Properties
+ `application`: `Dude Inventory Api` (string, required) - The name of the application.
+ `version` : `1.0.0.0` (string, required) - The assembly version.
+ `apiVersion` : `1.0.0.0` (string, required) - The API version.
+ `vitals` (Heartbeat, required) - The state of the system dependencies.
+ `links` (array[System Links], required) - The API routes.


## System Links (object)
Array of links returned in the System Information

###Properties
+ `endpoint` : `Inventory` (string, required) - The name of the endpoint.
+ `action` : `Get` (string, required) - The REST action.
+ `route` : `/accounts/{accountId}/inventoryitems` (string, required) - The route to the endpoint.


## Heartbeat (object)
Represents the data returned by the heartbeat request

###Properties
+ `cachevitalcheck`: true (boolean, required) - Vital check to ensure cache is available and online
+ `inventorydbvitalcheck`: true (boolean, required) - Vital check to ensure database is online.


## Base Collection Response (object)
Represents the standard page, pagesize, etc. of the request when working against the collection

###Properties
+ `page`: 1 (number, required) - {INT} The current page provided in the response data.
+ `pageSize`: 1000 (number, required) - {INT} The page size returned in the response data.
+ `dataSize` (number, required) - {INT} The total records returned in the response.
+ `total` (number, required) - {INT} The total number of records available in the collection.


## Inventory Item Data
Represents the inventory item data with all fields except the id which will be returned in the saved object

###Properties
+ `name`: `P/N 234234A` (string, required) - The unique name of the item as defined by customer
+ `description`: `Rectifier Avalanche Diode` (string, optional) - Description of the item
+ `isActive`: true (boolean, required) - Indicates if the inventory item is active


## Inventory Item Update (Inventory Item Data)
Represents the inventory item with all fields including the system generated id

###Properties
+ `id`: 1234567890 (number, required) - {INT} The ID for the object


## Inventory Item Manufacturer (Inventory Item Update)
Represents the inventory item will all fields including the ID for the object and a count of the associated manufacturers.

### Properties
+ `manufacturerCount`: 1 (number, required) - {INT} The number of manufacturers associated with the inventory item.


## Manufacturer Base (object)
The base object which represents a manufacturer associated with an inventory item. Not used stand alone, but rather with either a Part Number Data or Update

###Properties
+ `id`: 1 (number, required) - {INT} The ID of the manufacturer. Null if manufacturer does not exist in Unified.
+ `name`: Ford (string, required) - The name of the manufacturer.
+ `isDudeManufacturer`: true (boolean) - Indicates if this is a common platform manufacturer.


## Manufacturer Data (Manufacturer Base)
Represents a manufacturer associated with an inventory item. This does not include the id of the part number, and is used to POST.

###Properties
+ `partNumbers` (array[Part Number Data], optional) - An array of the part numbers for this manufacturer associated with the specific inventory item.


## Manufacturer Update (Manufacturer Base)
Represents a manufacturer associated with an inventory item. This contains the id of the part number, and is used to PUT and is returned with GET.

###Properties
+ `partNumbers` (array[Part Number Update], optional) - An array of the part numbers for this manufacturer associated with the specific inventory item.


## Part Number Data (object)
Represents a single part number for an inventory item. Does not include the id.

###Properties
+ `value`: `D7156AS` (string, optional) - The part number for an inventory item specific to this manufacturer.

## Part Number Update (Part Number Data)
Represents a single part number for an inventory item. Includes the id.

###Properties
+ `id`: 123456 (number, required) - {INT} The id for the part number.
